###############################################
# Database configuration
###############################################
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=localhost
DB_PORT=5433
DB_NAME=vectordb
SQL_DEBUG_LOGGING=false

###############################################
# OpenAI configuration
###############################################
OPENAI_API_KEY="your open ai key, needed if not using local/st embeddings"
EMBEDDINGS_MODEL=text-embedding-3-small  # Not used if LOCAL_EMBEDDING = true

###############################################
# Vector settings
###############################################
LOCAL_EMBEDDING=true
EMBEDDINGS_DIM=384 # E.G. if using  local embeddings, default sentence_transformers
# EMBEDDINGS_DIM=1536
# Number of IVFFlat lists (adjust based on data size)
VECTOR_INDEX_LISTS=100
# Number of probes for search (more probes = more accurate but slower)
VECTOR_INDEX_PROBES=10

# File processing
CHUNK_SIZE=500
CHUNK_OVERLAP=50

